

   
   <!-- <div class="explore">
    <h1>Explore the city</h1>
   <div class="seperate">
    <a href="">
    <h2>Dining</h2>
   <img src="assets\dining.jpg"style="width:300px; height:200px;">
   </a>
    </div>
    <div class="seperate">
        <a href="">
        <h2>Attractions</h2>
       <img src="assets\attraction.jpg"style="width:300px; height:200px;">
    </a>
        </div>
        <div class="seperate">
            <a href="">
            <h2>Shopping</h2>
           <img src="assets\shopping.jpg"style="width:300px; height:200px;">
        </a>
            </div>
<br>
            <div class="seperate">
                <a href="">
                <h2>Events</h2>
               <img src="assets\events.jpg"style="width:300px; height:200px;">
            </a>
                </div>
                <div class="seperate">
                    <a href="">
                    <h2>Museum and galleries</h2>
                   <img src="assets\mueseum.jpg"style="width:300px; height:200px;">
                </a>
                    </div>
                    <div class="seperate">
                        <a href="">
                        <h2>Sports</h2>
                       <img src="assets\sports.jpg"style="width:300px; height:200px;">
                    </a>
                        </div>
                        </div>
    
     -->