
                        <!-- <h1>Connect to us on social media</h1>
                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                        
                        <div class="icon">
                        <a href="#" class="fa fa-instagram"> Instagram</a>
                        <a href="#" class="fa fa-twitter">Twitter</a>
                        <a href="#" class="fa fa-facebook">Facebook</a>
                        
                        </div>
                        <div class ="footer">
  <div class="text">

  <h2>Subscribe for updates.</h2>


    Enter mail-id: <input type="text" name="username">
    <input type="submit">
</div>
</div> -->

    
    