/* .explore{
    background-color:rgb(248, 232, 248);
    height: 700px;
}
h1 {
    padding-top: 15px;
    margin-left: 600px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(219, 47, 61);
}
.seperate{
    display: inline-block;
    padding: 10px;
    background-color:rgb(207, 207, 226);
    margin-left: 115px;
    margin-top: 20px;
    
    
} */

/* h2{
    font-size: 25px;
}
a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    color: #3B5998;
    
  }
  
.fa-instagram {
    
    color: black;
  }

.icon{
      display:flex;
  }
.footer{
    background-color: grey;
}

.footer h2 {
    color:whitesmoke;
    margin: 20px;
    
}

.text {
    padding: 10px;
    margin-left: 500px;
    color: black;
}
.video a
{
    color: blue;
    font-size: 25px;
    margin-left: 570px;
}  */