<div class="vid">
<iframe width="580" height="384" style="padding:10px;" src="https://www.youtube.com/embed/WLSnrXEtrT4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe>
<iframe width="580" height="384" style="padding:10px;" src="https://www.youtube.com/embed/7S7smPw9EiE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="vid">
<iframe width="580" height="384" style="padding:10px;"  src="https://www.youtube.com/embed/h3fUgOKFMNU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe>
<iframe width="580" height="384" style="padding:10px;" src="https://www.youtube.com/embed/yDCMIHRuVpc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
