<form class="form" action="/action_page.php">

    <label for="fname">First name:</label><br>

    <input type="text" id="fname" name="fname" value="" placeholder="Your name.."><br>

    <label for="lname">Last name:</label><br>

    <input type="text" id="lname" name="lname" value="" placeholder="Your last name.."><br>

    <label for="Time planning to visit:">Time planning to visit:</label><br>

    <input type="text" id="time" name="time" value="" placeholder="Time planning to visit:"><br>

    <label for="Mail">Enter mail id:</label><br>

    <input type="text" id="mail" name="mail" value="" placeholder="Enter mail.."><br>
<br>
    <p>You will be receiving a complete tour guide.Happy New Yorking!:) </p>

    <br> <input type="submit" value="Register">

</form>
